<?xml version="1.0" encoding="UTF-8"?>

<!--
  -     Copyright [2019~2-25] [codingByFeng]

  - Licensed under the Apache License, Version 2.0 (the "License");
  - you may not use this file except in compliance with the License.
  - You may obtain a copy of the License at

  -    http://www.apache.org/licenses/LICENSE-2.0

  - Unless required by applicable law or agreed to in writing, software
  - distributed under the License is distributed on an "AS IS" BASIS,
  - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  - See the License for the specific language governing permissions and
  - limitations under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.fengorz.kiwi.word.biz.mapper.PronunciationMapper">

    <update id="blankPronunciationVoice" parameterType="java.lang.String">
        update word_pronunciation wp set wp.voice_file_path=null
        where wp.word_id=
        (select wm.word_id from word_main wm where wm.word_name=#{wordName})
    </update>

    <delete id="deleteByWordName" parameterType="java.lang.String">
        delete from word_pronunciation where word_id =
        (select wm.word_id from word_main wm where wm.word_name=#{wordName})
    </delete>

</mapper>
