<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~   Copyright [2019~2025] [codingByFeng]
  ~
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.fengorz.kiwi.word.biz.mapper.WordStarListMapper">

    <resultMap id="wordStarListDOMap" type="me.fengorz.kiwi.word.api.entity.WordStarListDO">
        <id property="id" column="id"/>
        <result property="listName" column="list_name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="owner" column="owner"/>
        <result property="isDel" column="is_del"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <select id="selectListItems" resultType="me.fengorz.kiwi.word.api.dto.mapper.out.SelectWordStarListResultDTO">
        select group_concat(CONCAT(wp.paraphrase_english, '||', wp.meaning_chinese) SEPARATOR '##') paraphrases,
               temp1.word_id wordId,
               temp1.word_name wordName
        from (select wsr.list_id, wsr.word_id, wm.word_name, wsr.create_time
              from word_star_rel wsr
                       left join word_main wm on wsr.word_id = wm.word_id
              where wm.is_del = 'N'
                and wsr.list_id = #{listId}) temp1
                 left join word_paraphrase wp
                           on temp1.word_id = wp.word_id
        where wp.is_del = 'N'
        group by temp1.word_id
        order by temp1.create_time desc
    </select>

    <select id="countWordIsCollect" resultType="java.lang.Integer">
        select count(1)
        from word_star_list wsl
                 left join word_star_rel wsr on wsl.id = wsr.list_id
        where word_id = #{queryParams.entityId}
          and wsl.owner = #{queryParams.owner}
          and wsl.is_del = 'N';
    </select>

</mapper>
