<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~   Copyright [2019~2025] [codingByFeng]
  ~
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.fengorz.kiwi.word.biz.mapper.WordParaphraseStarListMapper">

    <select id="selectListItems" resultType="me.fengorz.kiwi.word.api.vo.star.ParaphraseStarItemVO">
        select temp.*, wm.word_name
        from (select wp.paraphrase_id,
                     wp.word_id,
                     wp.paraphrase_english,
                     wp.meaning_chinese,
                     wp.character_id,
                     wp.paraphrase_english_translate,
                     wpsr.create_time
              from word_paraphrase_star_rel wpsr
                       left join word_paraphrase wp on wpsr.paraphrase_id = wp.paraphrase_id
              where wpsr.list_id = #{listId}
                and wp.is_del = 'N') temp
                 left join word_main wm on temp.word_id = wm.word_id
        order by temp.create_time desc
    </select>

    <select id="selectReviewListItems" resultType="me.fengorz.kiwi.word.api.vo.star.ParaphraseStarItemVO">
        select temp.*, wm.word_name
        from (select wp.paraphrase_id,
                     wp.word_id,
                     wp.paraphrase_english,
                     wp.meaning_chinese,
                     wp.character_id,
                     wp.paraphrase_english_translate,
                     wpsr.create_time
              from word_paraphrase_star_rel wpsr
                       left join word_paraphrase wp on wpsr.paraphrase_id = wp.paraphrase_id
              where wpsr.list_id = #{params.listId}
                and wpsr.is_remember = 0
                and wp.is_del = 'N') temp
                 left join word_main wm on temp.word_id = wm.word_id
        order by temp.create_time desc
    </select>


</mapper>
