<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.fengorz.kiwi.db.mapper.SeqMapper">

    <insert id="genSequence" parameterType="me.fengorz.kiwi.common.db.entity.Sequence">
        insert into ${tableName} (stub) values ('b')
        <selectKey resultType="integer" keyProperty="id">
            select last_insert_id() as id
            <!-- select 'NEXT VALUE FOR MYCATSEQ_${tableName}' as id -->
        </selectKey>
    </insert>

    <delete id="deleteSequence" parameterType="integer">
        delete from ${tableName} where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>

