<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.fengorz.kason.word.biz.mapper.ParaphraseMapper">

    <select id="selectParaphraseAndIsCollect" resultType="me.fengorz.kason.word.api.vo.detail.ParaphraseVO">
        select wp.paraphrase_id,
        wp.paraphrase_english,
        wp.paraphrase_english_translate,
        wp.meaning_chinese,
        wp.translate_language,
        if(temp.collect_id is null, 'N', 'Y') is_collect
        from (select wpsr.paraphrase_id collect_id
        from word_paraphrase_star_rel wpsr
        left join word_paraphrase_star_list wpsl on wpsr.list_id = wpsl.id
        where wpsl.owner = #{queryParams.owner} and wpsl.is_del='N') temp
        right join word_paraphrase wp on temp.collect_id = wp.paraphrase_id
        where wp.character_id = #{queryParams.entityId}
        and wp.is_del = 'N'
    </select>

    <select id="listNotGeneratedAndNotCollectVoice" resultType="java.lang.Integer">
        select distinct(paraphrase_id)
        from word_paraphrase wp
        where wp.is_del = 0
        and exists(select 1 from word_main wm where wm.word_id = wp.word_id)
        and not exists(select 1 from word_review_audio wra where wra.source_id = wp.paraphrase_id)
        limit 10;
    </select>

</mapper>
