security:
  oauth2:
    client:
      client-id: ENC(wORgugqWfXlIuzbal/3pjXTNXij/RSpo)
      client-secret: ENC(rMd1buB3iI+si+W99eB+QFa3QburIEmY)
      scope: server

# 数据源
spring:
  main:
    allow-bean-definition-overriding: true

ignore:
  urls:
    - /test/**
    - /word/main/query/**
    - /word/main/queryById/**
    - /word/main/fuzzyQueryList/**
    - /word/pronunciation/downloadVoice/**
    - /word/main/query/**
    - /word/fetch/**
    - /word/main/variant/**
    - /word/main/listOverlapAnyway
    - /word/review/createTheDays
    - /word/review/refreshAllApiKey
    - /word/review/downloadReviewAudio/**
    - /word/review/character/downloadReviewAudio/**
    - /word/review/generateTtsVoice/**
    - /word/review/generateTtsVoiceFromParaphraseId/**
    - /grammar/mp3/**
    - /grammar/srt/**
  userNames:
    - admin

async:
  config:
    core:
      pool:
        size: 5
    max:
      pool:
        size: 10
    queue:
      capacity: 5

ms:
  config:
    exclude-db: false
    exclude-cache: false
    
cache-control:
  need-cache-api:
    - /word/main/query
    - /word/main/queryById
    - /word/paraphrase/star/list/getItemDetail
    - /word/pronunciation/downloadVoice
    - /word/review/downloadReviewAudio
    - /word/review/character/downloadReviewAudio
    - /grammar/mp3

# Storage backend switch
storage:
  backend: ftp