/*
 * Copyright [2019~2025] [codingByFeng]
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
package ${package}.${moduleName}.controller;

import com.baomidou.mybatisplus.core.metadata.IPage;
import lombok.AllArgsConstructor;
import me.fengorz.kiwi.common.api.R;
import ${package}.api.entity.${className}DO;
import ${package}.api.dto.${className}DTO;
import ${package}.${moduleName}.service.I${caseTableName}Service;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@AllArgsConstructor
@RequestMapping("/${controllerRootPath}")
public class ${caseTableName}Controller {

    private final I${caseTableName}Service ${classname}Service;

    /**
     * 分页查询
     */
    @PostMapping("/page/{current}/{size}")
    public R<IPage<${className}VO>> page(
            @PathVariable Integer current,
            @PathVariable Integer size,
            ${className}DTO dto) {
        return R.success(${classname}Service.page(current, size, dto));
    }

}

